body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f9fa;
  margin: 0;
  /* Remove default margin */
}

.app {
  min-height: 100vh;
  /* Set minimum height to full viewport height */
  display: flex;
  flex-direction: column;
}


.info-container {
  margin-bottom: 20px;
}

.records-container {
  margin-bottom: 60px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 12px;
}

h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

li {
  margin-bottom: 8px;
}

/*header styles*/
.info-container {
  margin-bottom: 20px;
}

.patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.schedule-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: 1px solid #003e80;
  border-radius: 5px;
  cursor: pointer;
}

.schedule-btn:hover {
  background-color: #4da3ff;
}

/*bottom navigation bar styles*/
/*
//moved this code to NaviBar

.bottom-nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #535353;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.bottom-nav button:hover {
  background-color: #4da3ff;

}
*/

/*search bar styles*/
.search-bar {
  display: flex;
  position: right;
  justify-content: flex-end;
  margin-bottom: 20px;

}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #4da3ff;
  border-color: #4da3ff;
}