body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f9fa;
  margin: 0;
  /* Remove default margin */
}

.app {
  min-height: 100vh;
  /* Set minimum height to full viewport height */
  display: flex;
  flex-direction: column;
}


.info-container {
  margin-bottom: 20px;
}

.records-container {
  margin-bottom: 60px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 12px;
  margin-top: 40px;
}

h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

p {
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 20px;
}

/*header styles*/
.info-container {
  margin-bottom: 20px;
}

.schedule-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: 1px solid #003e80;
  border-radius: 5px;
  cursor: pointer;
}

.schedule-btn:hover {
  background-color: #4da3ff;
}

.records-container input {
  padding: 8px 20px;
  border: 1px solid #ccc;
  outline: none;
}

/*delete button styles*/
.delete button {
  padding: 8px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #ffd2d2;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}

.delete button:hover {
  background-color: #ff2525;
  color: #ffffff;
}

/*update button styles*/
.update button {
  padding: 8px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #fff1b4;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}

.update button:hover {
  background-color: #ffe925;
  color: #000000;
}

/*add button styles*/
.add button {
  padding: 8px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #d9ffbf;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}

.add button:hover {
  background-color: #09ff00;
  color: #000000;
}


/*search bar styles*/
.search-bar {
  display: flex;
  position: right;
  justify-content: flex-end;
  margin-bottom: 20px;

}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #4da3ff;
  border-color: #4da3ff;
}