.Header{
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    text-shadow:
      -3px 3px 0 #000000;
    background-color: rgb(14, 114, 121);
  }

body{
    background-color: rgb(44, 216, 232);
}

.Logout{
    scale: 1.5;
    background: transparent;
    border-color: transparent;
    
}

.Setting{
    scale: 1.5;
    background: transparent;
    border-color: transparent;
}

.Icon{
    scale: 1.5;
}

.Profile{
    background: transparent;
    border-color: transparent;
    border: 2px solid rgb(21, 126, 212);
}

.Schedule{
    text-align: center;
}