.Header{
    text-align: center;
    background-color: rgb(74, 162, 168);

}

body{
    background-color: rgb(44, 216, 232);
}

.Logout{
    scale: 1.5;
    background: transparent;
    border-color: transparent;
    
}

.Setting{
    scale: 1.5;
    background: transparent;
    border-color: transparent;
}

.Icon{
    scale: 1.5;
}

.Profile{
    background: transparent;
    border-color: transparent;
    border: 2px solid rgb(21, 126, 212);
}

.Schedule{
    text-align: center;
}